@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --theme-color: #3B82F6;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.theme-color {
  color: var(--theme-color);
}

.theme-bg {
  background-color: var(--theme-color);
}